{% extends 'map/base.html'%}
{% load static %}
{% block content %}
{% if user.is_authenticated %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<div id="side-bar" style="background-color: rgba(0, 0, 0, 0.2);">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>  

<style>
    .arrange{
        padding-top: 100px;
    }
</style>
<div class="field_wrapper arrange">
    <!-- <div>
        <input type="text" name="field_name[]" value=""/>
        <a href="javascript:void(0);" class="add_button" title="Add field">Add more</a>
    </div> -->
    <h4>Select districts according to regions : one-by-one or all. <br></h4>
    <hr>
    <div>Select Themes:
        <select class='form-control' id="amenities" >
          <option >Village Amenities</option>
          <option >Household Amenities</option>
          <option >Town Amenities</option>
          <option >Demographies</option>
          <option >Ground water recharge priorities(GSDA)</option>
          <option >Waterbodies</option>
        </select>
        <br>Select District:
         <select class='form-control' name="field_name[]" style="">
          <option value="All">All</option>
          <optgroup label="Vidarbh(East)">
              <option value="Akola">Akola</option>
              <option value="Amrawati">Amrawati</option>
              <option value="Buldana">Buldana</option>
              <option value="Yavatmal">Yavatmal</option>
              <option value="Washim">Washim</option>
          </optgroup>
          <optgroup label="Marathwada">
              <option value="Aurangabad">Aurangabad</option>
              <option value="Beed">Beed</option>
              <option value="Jalna">Jalna</option>
              <option value="Osmanabad">Osmanabad</option>
              <option value="Nanded">Nanded</option>
              <option value="Latur">Latur</option>
              <option value="Parbhani">Parbhani</option>
              <option value="Hingoli">Hingoli</option>
          </optgroup>

          <optgroup label="Kokan">
              <option value="Mumbai City">Mumbai City</option>
              <option value="Mumbai Suburban">Mumbai Suburban</option>
              <option value="Thane">Thane</option>
              <option value="Palghar">Palghar</option>
              <option value="Raigad">Raigad</option>
              <option value="Ratnagiri">Ratnagiri</option>
              <option value="Sindhudurg">Sindhudurg</option>
          </optgroup>

        <optgroup label="Vidarbh(West)">
              <option value="Bhandara">Bhandara</option>
              <option value="Gadchiroli">Gadchiroli</option>
              <option value="Chandrapur">Chandrapur</option>
              <option value="Gondia">Gondia</option>
              <option value="Nagpur">Nagpur</option>
              <option value="Wardha">Wardha</option>
          </optgroup>

            <optgroup label="Khandesh">
              <option value="Ahmednagar">Ahmednagar</option>
              <option value="Dhule">Dhule</option>
              <option value="Jalgaon">Jalgaon</option>
              <option value="Nandurbar">Nandurbar</option>
              <option value="Nashik">Nashik</option>
          </optgroup>

        
            <optgroup label="Paschim Maharashtra">
              <option value="Kolhapur">Kolhapur</option>
              <option value="Pune">Pune</option>
              <option value="Sangli">Sangli</option>
              <option value="Satara">Satara</option>
              <option value="Solapur">Solapur</option>
          </optgroup>
        </select> 



        <a href="javascript:void(0);" class="add_button" title="Add field"><button style="float: right;"><span class="glyphicon glyphicon-plus"></button></a>
    </div>
</div>

<div id = 'selectedata'></div>
<button class = 'btn btn-success' onclick="showLayers()">Show Layers</button>
<!-- <button onclick="myDistrictLayerList.forEach(clearAllLayers)">Clear All Layers</button> -->
<button class = 'btn btn-danger'onclick="clearAllLayers()">Clear All Layers</button>
{% if user.groups.all.0.name != "restricted" %}
<button class = 'btn btn-dark'onclick="downloadLayers()">Download Layer</button>
<div class="alert alert-info">
    <strong>Info!</strong> Select only single layer to download.
  </div>
  <div class="alert alert-warning">
    <strong>!</strong> Please wait downloading may take some time.
  </div>
<iframe id="my_iframe" style="display:none;"></iframe>
{% endif %}
{% if user.groups.all.0.name == "restricted" %}
<div class="alert alert-warning">
    <strong>!</strong> please register to download layers.
  </div>
{% endif%}

<script type="text/javascript">
    var x = 1; //Initial field counter is 1
$(document).ready(function(){
    var maxField = 10; //Input fields increment limitation
    var addButton = $('.add_button'); //Add button selector
    var wrapper = $('.field_wrapper'); //Input field wrapper
    var dropdown = `<select name="field_name[]" ><option value="Akola">Akola</option><option value="Amrawati">Amrawati</option></select>`;
    

    var fieldHTML = `<div>Select District:
         <select class='form-control' name="field_name[]" >
          <option value="All">All</option>
          <optgroup label="Vidarbh(East)">
              <option value="Akola">Akola</option>
              <option value="Amrawati">Amrawati</option>
              <option value="Buldana">Buldana</option>
              <option value="Yavatmal">Yavatmal</option>
              <option value="Washim">Washim</option>
          </optgroup>
          <optgroup label="Marathwada">
              <option value="Aurangabad">Aurangabad</option>
              <option value="Beed">Beed</option>
              <option value="Jalna">Jalna</option>
              <option value="Osmanabad">Osmanabad</option>
              <option value="Nanded">Nanded</option>
              <option value="Latur">Latur</option>
              <option value="Parbhani">Parbhani</option>
              <option value="Hingoli">Hingoli</option>
          </optgroup>

          <optgroup label="Kokan">
              <option value="Mumbai City">Mumbai City</option>
              <option value="Mumbai Suburban">Mumbai Suburban</option>
              <option value="Thane">Thane</option>
              <option value="Palghar">Palghar</option>
              <option value="Raigad">Raigad</option>
              <option value="Ratnagiri">Ratnagiri</option>
              <option value="Sindhudurg">Sindhudurg</option>
          </optgroup>

        <optgroup label="Vidarbh(West)">
              <option value="Bhandara">Bhandara</option>
              <option value="Gadchiroli">Gadchiroli</option>
              <option value="Chandrapur">Chandrapur</option>
              <option value="Gondia">Gondia</option>
              <option value="Nagpur">Nagpur</option>
              <option value="Wardha">Wardha</option>
          </optgroup>

            <optgroup label="Khandesh">
              <option value="Ahmednagar">Ahmednagar</option>
              <option value="Dhule">Dhule</option>
              <option value="Jalgaon">Jalgaon</option>
              <option value="Nandurbar">Nandurbar</option>
              <option value="Nashik">Nashik</option>
          </optgroup>

        
            <optgroup label="Paschim Maharashtra">
              <option value="Kolhapur">Kolhapur</option>
              <option value="Pune">Pune</option>
              <option value="Sangli">Sangli</option>
              <option value="Satara">Satara</option>
              <option value="Solapur">Solapur</option>
          </optgroup>
        </select> <a href="javascript:void(0);" class="remove_button"><button style="float: right;"><span class="glyphicon glyphicon-minus"></button></a></div>`; //New input field html 

    
    
    //Once add button is clicked
    $(addButton).click(function(){
        //Check maximum number of input fields
            x++;
            $(wrapper).append(fieldHTML); //Add field html
    });
    
    //Once remove button is clicked
    $(wrapper).on('click', '.remove_button', function(e){
        e.preventDefault();
        $(this).parent('div').remove(); //Remove field html
        x--; //Decrement field counter
    });
});
var myDistrictLayerList = [];

function showLayers(){
    var check = x;
    clearAllLayers();
    var amenity = document.getElementById('amenities').value;
    for (i = 0; i < check; i++) {
    var dis = document.getElementsByName("field_name[]")[i].value;
    addMyNewLayers(amenity,dis);
    // console.log(myDistrictLayerList);
    }

}

function downloadLayers(){
  var check = x;
    var amenity = document.getElementById('amenities').value;
    for (i = 0; i < check; i++) {
    var dis = document.getElementsByName("field_name[]")[i].value;
    downloadTheseLayers(amenity,dis);
    // console.log(myDistrictLayerList);
    }
}
//object
var listOfDistrict = ['All','Akola','Amrawati','Buldana','Yavatmal','Washim','Aurangabad','Beed','Jalna','Osmanabad','Nanded','Latur','Parbhani','Hingoli','Mumbai City','Mumbai Suburban','Thane','Palghar','Raigad','Ratnagiri','Sindhudurg','Bhandara','Gadchiroli','Gondia','Nagpur','Wardha','Ahmednagar','Dhule','Jalgaon','Nandurbar','Nashik','Kolhapur','Pune','Sangli','Satara','Solapur'];

var villageLayerCode = ['geonode:village_2700','geonode:v_akola','geonode:v_amravati','geonode:v_buldana','geonode:v_yavatmal','geonode:v_washim','geonode:v_aurangabad','','geonode:v_jalna','geonode:v_osmanabad','geonode:v_nanded','geonode:v_latur','geonode:v_parbhani','geonode:v_hingoli','','','geonode:v_thane','','','geonode:v_ratnagiri','geonode:v_sindhudurg','geonode:v_bhandara','geonode:v_gadchiroli','','geonode:v_nagpur','geonode:v_wardha','','geonode:v_dhule','geonode:v_jalgaon','geonode:v_nandurbar','geonode:v_nashik','geonode:v_kolhapur','geonode:v_pune','geonode:v_sangli','geonode:v_satara','geonode:v_solapur'];
var houseLayerCode = ['all','geonode:h_akola','geonode:h_amravati','geonode:h_buldhana','geonode:h_yavatmal','geonode:h_washim','geonode:h_aurangabad','geonode:h_beed','geonode:h_jalna','geonode:h_osmanabad','geonode:h_nanded','geonode:h_latur','geonode:h_parbhani','geonode:h_hingoli','geonode:h_mumbai_city','geonode:h_mumbai_suburban','geonode:h_thane','geonode:h_palghar','geonode:h_raigarh','geonode:h_ratnagiri','geonode:h_sindhudurg','geonode:h_bhandara','geonode:h_gadchiroli','geonode:h_gondia','geonode:h_nagpur','geonode:h_wardha','geonode:h_ahmadnagar','geonode:h_dhule','geonode:h_jalgaon','geonode:h_nandurbar','geonode:h_nashik','geonode:h_kolhapur','geonode:h_pune','geonode:h_sangli','geonode:h_satara','geonode:h_solapur'];



var districtLat = [19.0760,20.7002,20.9374,20.4561,20.3888,20.1390,19.8762,18.9891,19.8297,18.2070,19.1383,18.4088,19.2644,19.5781,19.0176,19.1538,19.2183,19.6936,18.5158,16.9902,16.3492,21.0736,19.4969,21.4624,21.1458,20.7453,19.0948,20.9042,21.0077,21.7469,19.9975,16.7050,18.5204,16.8524,17.6805,17.6805,];
var districtLong = [72.8777,77.0082,77.7796,76.3637,78.1204,77.1025,75.3433,75.7601,75.8800,76.1784,77.3210,76.5604,76.6413,77.1025,72.8561,72.8752,72.9781,72.7655,73.1822,73.3120,73.5594,79.8297,80.2767,80.2210,79.0882,78.6022,74.7480,74.7749,75.5626,74.1240,73.7898,74.2433,73.8567,74.5815,74.0183,74.0183,];
var districtZoom = [7,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9];

var townLayerCode= ['all','geonode:t_akola','geonode:t_amravati','','geonode:t_yavatmal','','geonode:t_aurangabad','geonode:t_beed','geonode:t_jalna','geonode:t_osmanabad','geonode:t_nanded','geonode:t_latur','geonode:t_parbhani','geonode:t_hingoli','geonode:t_mumbai city','','geonode:t_thane','geonode:t_palghar','geonode:t_raigarh','geonode:t_ratnagiri','geonode:t_sindhudurg','geonode:t_bhandara','geonode:t_gadchiroli','geonode:t_gondia','geonode:t_nagpur','geonode:t_wardha','geonode:t_ahmadnagar','geonode:t_dhule','geonode:t_jalgaon','geonode:t_nandurbar','geonode:t_nashik','geonode:t_kolhapur','geonode:t_pune','geonode:t_sangli','geonode:t_satara','geonode:t_solapur'];
//['','','geonode:t_amravati','','geonode:t_yavatmal','','','geonode:t_beed','geonode:t_jalna','geonode:t_osmanabad','geonode:t_nanded','geonode:t_latur','geonode:t_parbhani','geonode:t_hingoli','','','geonode:t_thane','geonode:t_palghar','geonode:t_raigarh','geonode:t_ratnagiri','geonode:t_sindhudurg',' ',' ','geonode:t_gondiya','geonode:t_nagpur','geonode:t_wardha',' ',' ','geonode:t_jalgoan','geonode:t_nandurbar','geonode:t_nashik','geonode:t_kolhapur','geonode:t_pune','geonode:t_sangli','geonode:t_satara','geonode:t_solapur',];


var demoLayerCode = ['','geonode:d_akola_1','geonode:d_amravati_1','geonode:d_buldhana_1','geonode:d_yavatmal','geonode:d_washim_1','geonode:d_aurangabad','geonode:d_beed_1','geonode:d_jalna_1','geonode:d_osmanabad','geonode:d_nanded_1','geonode:d_latur_1','','geonode:d_hingoli_1','geonode:d_mumbai_city_1','geonode:d_mumbai_suburban_1','geonode:d_thane','geonode:d_palghar','geonode:d_raigarh_1','geonode:d_ratnagiri_1','geonode:d_sindhudurg_1','geonode:d_bhandara_1','geonode:d_gadchiroli','geonode:d_gondia_1','geonode:d_nagpur_1','geonode:d_wardha_1','geonode:d_ahmadnagar_1','geonode:d_dhule_1','geonode:d_jalgaon_1','geonode:d_nandurbar_2','geonode:d_nashik_1','geonode:d_kolhapur','geonode:d_pune_1','geonode:d_sangli_1','','geonode:d_solapur_1'];

function clearAllLayers(){
    for (var i = myDistrictLayerList.length - 1; i >= 0; i--) {
        source.getLayer(myDistrictLayerList[i]).addTo(mymap).remove(mymap);;
        
    }
 

}
function addMyNewLayers(amenity,dis){
   var index = listOfDistrict.indexOf(dis);
   mymap.setView([districtLat[index], districtLong[index]], districtZoom[index]);
  

  if(amenity == 'Village Amenities'){
    if(villageLayerCode[index] == ''){
        alert('layer of '+ dis + ' not found');
    }else{
        source.getLayer(villageLayerCode[index]).addTo(mymap);
        myDistrictLayerList.push(villageLayerCode[index]);
        }
    }
    else if(amenity == 'Household Amenities'){
    if(houseLayerCode[index] == ''){
        alert('layer of '+ dis + ' not found');
    }else{
        source.getLayer(houseLayerCode[index]).addTo(mymap);
        myDistrictLayerList.push(houseLayerCode[index]);
        } 
    }

    else if(amenity == 'Town Amenities'){
    if(townLayerCode[index] == ''){
        alert('layer of '+ dis + ' not found');
    }else{
        source.getLayer(townLayerCode[index]).addTo(mymap);
        myDistrictLayerList.push(townLayerCode[index]);
        }  
    }
    else if(amenity == 'Demographies'){
    if(demoLayerCode[index] == ''){
        alert('layer of '+ dis + ' not found');
    }else{
        source.getLayer(demoLayerCode[index]).addTo(mymap);
        myDistrictLayerList.push(demoLayerCode[index]);
        } 
    }

    else{
    alert('Data for '+amenity+' not Populated');
    }
   

}
function removeMyNewLayers(amenity,dis){
   var index = listOfDistrict.indexOf(dis);
   source.getLayer(villageLayerCode[index]).addTo(mymap).remove(mymap);;

}

function downloadTheseLayers(anemity,dis){
  var index = listOfDistrict.indexOf(dis);
  var geonodecode = '';
  if (anemity == 'Village Amenities'){
    if(villageLayerCode[index] == ''){
        alert('layer of '+ dis + ' not found');
    }else{
    geonodecode = villageLayerCode[index];
    }
}
  
  else if(anemity == 'Town Amenities'){
    if(townLayerCode[index] == ''){
        alert('layer of '+ dis + ' not found');
    }else{
    geonodecode = townLayerCode[index];
    }
}
  
  else if(anemity == 'Demographies'){
    if(demoLayerCode[index] == ''){
        alert('layer of '+ dis + ' not found');
    }else{
    geonodecode = demoLayerCode[index];
    }
}
    
    
else if(anemity == 'Household Amenities'){
    if(houseLayerCode[index] == ''){
        alert('layer of '+ dis + ' not found');
    }else{
    geonodecode = houseLayerCode[index];
    }
}

    else{
    alert('Data for '+anemity+' not Populated');
    }
   if (geonodecode != ''){
    var code = geonodecode.substring(8, );
    url = "http://13.82.229.27/geoserver/wfs?format_options=charset%3AUTF-8&typename=geonode%3A"+code+"&outputFormat=SHAPE-ZIP&version=1.0.0&service=WFS&request=GetFeature&";
    window.open(url,code); 
   }
   

}
</script>
</div>
        <!-- /view -->
        <script>
        // menu();
        </script>
        </div>
    <div id="mapdiv" class="col-md-12"></div>

    <script>
        var mymap;
                    
                    var source = L.wms.source(
                        "http://13.82.229.27/geoserver/wfs",
                        {
                            "format": "image/png",
                            "transparent": "true"
                        }        
                        );
                    
                
                        mymap = L.map('mapdiv', {center:[18.801946,74.5256362], zoom:7, zoomControl:false, attributionControl:false});
                        lyrOSM = L.tileLayer.provider('OpenStreetMap.Mapnik');
                        lyrImagery = L.tileLayer.provider('Esri.WorldImagery');
                        mymap.addLayer(lyrOSM);
                        
                        
                        objBasemaps = {
                            "Open Street Maps": lyrOSM,
                            "Imagery":lyrImagery
                        };
                        
                        objOverlays = {
                        };
                        
                        var ctlLayers = L.control.layers(objBasemaps, objOverlays).addTo(mymap);
                        
        
                       
                        var ctlPan = L.control.pan().addTo(mymap);
                        var ctlZoomslider = L.control.zoomslider({position:'topright'}).addTo(mymap);
                        
                        var ctlSidebar = L.control.sidebar('side-bar').addTo(mymap);
                        var ctlSidebar = L.control.sidebar('side-bar').addTo(mymap);
                         var ctlEasybutton = L.easyButton('glyphicon-transfer', function(){
                           ctlSidebar.toggle(); 
                        }).addTo(mymap);
        
                        
                       
        </script>

{% endif %}

    {% endblock %}