{% extends 'map/base.html'%}
{% block content %}
{% if user.is_authenticated %}
{% load static%}
<style>
    .space{
        display: grid;
        gap: 240px 10px;
        grid-template-columns: repeat(3, 1fr);

        grid-template-rows: repeat(3, 70vh);
        place-items: center center; 
        
    }

     .cards{
        margin: 20px;
    }

    #mydiv {
  width: 320px;
  padding: 1px;
  border: 1px solid gray;
  border-radius: 10px;
  margin: 0;
  background-color: #f4ffff;
  margin: 10px; 
}
</style>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
{% if not user.groups.exists %}
<div class="container">
    <h2>Information</h2>
    <div class="panel panel-default">
      <div class="panel-body">
          Hi! {{user.first_name}}, Thanks for registering.<br>
          For accessing dashboard please mail us at communitygis3@gmail.com<a href="mailto:commnitygis3@gmail.com?Subject=Enable%my%group" target="_top">(Send Mail)</a> with your registered email <u>{{user.email}}</u> and specify in which theme you are interested.
          We will enable your dashboard within 24hr.<br>Please also describe how you plan to use CommunityGIS.   <br>Thank you

      </div>
    </div>
  </div>
{% endif %}
<div class="space" style="">
    {% for group in user.groups.all %}
    {% if group.name == 'census' or group.name == 'restricted' %}
    <div class = "container" id="mydiv" style="float:left;">


        <img src="{% static 'images/home_thumbnail/census.png' %}" width="350" height="263" alt="census">
        <div style="padding: 10px">
        <h2 class="text-center">Census Maps</h2>

        <div id="demos" class="collapse">
            Village wise details of census data, along with ground water recharge priorities is compiled with village boundaries and town boundaries. Census data are for 2011 census and includes 1. Household amenities 2. Village amenities, 3. Demography and 4. Town amenities. A combined towns and villages map, grouped for every district,is also included. This is derived from the data published on IIT site (<a href="https://www.cse.iitb.ac.in/~pocra/MahaCensus_shapefile_data1.2/MaharashtraCensus.html">Click here</a>)Explanations for field names in tables are provided in separate tables.
        </div>
        <div class="text-center" style="padding-top: 5px">
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demos">View information</button>

        <a href="{% url 'census'%}" class="btn btn-success">Visit</a>
        </div>
        </div>
        </div>
    {% endif %}
    {% endfor %}
    
        
        
        <!-- Development Planning 2014-34 Start here-->
        {% for group in user.groups.all %}
        {% if group.name ==  'development_plan' or group.name == 'restricted'  %}



    <div class = "container" id="mydiv" style="float:left;">


        <img src="{% static 'images/home_thumbnail/dp_polygon.png' %}" width="350" height="263" alt="dp">
        <div style="padding: 10px">
        <h2 class="text-center">DP 2014-34</h2>

        <div id="demo1" class="collapse">
            
        </div>
        <div class="text-center" style="padding-top: 5px">
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo1">View information</button>

        <a href="{% url 'dp_2014_34' %}" class="btn btn-success">Visit</a>
        </div>
        </div>
        </div>

        {% endif %}
        {% endfor %}
        <!-- Development Planning 2014-34 End here-->





{% for group in user.groups.all %}
{% if group.name ==  'swm' or group.name == 'restricted'  %}



    <div class = "container" id="mydiv" style="float:left;">


        <img src="{% static 'images/home_thumbnail/swm.png' %}" width="350" height="263" alt="swm">
        <div style="padding: 10px">
        <h2 class="text-center">SWM Maps</h2>

        <div id="demo2" class="collapse">
            This is a Community based platform . Objective is to evolve it into a tool for community action which any local community can undertake in their locality. To start with it will help  visualising the state of waste management. The Census data, buildings data from voter lists  and DP layers , schools layer etc  will help contextualise the waste management in a given area . To encourage  best practices including waste seggregation, disposal etc a composite  index of greenness will be evolved. We shall take a cue from the weightages PCMC has used to incentivise property tax.  Important change will be to introduce weightage for  menstrual waste seggregation, and disposal.It is expected that  trends toward reduction of ( wet and dry and menstrual ) waste per capita will help community to spur action.
        </div>
        <div class="text-center" style="padding-top: 5px">
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo2">View information</button>

        <a href="{% url 'swm' %}" class="btn btn-success">Visit</a>
        </div>
        </div>
        </div>

        {% endif %}
        {% endfor %}



    {% for group in user.groups.all %}
    {% if group.name  == 'edu' or group.name == 'restricted'  %}


    <div class = "container" id="mydiv" style="float:left;">


        <img src="{% static 'images/home_thumbnail/edu.png' %}" width="350" height="263" alt="edus">
        <div style="padding: 10px">
        <h2 class="text-center">Education Maps</h2>

        <div id="demo3" class="collapse">
            This ( GIS + CMS i.e geographical information system and content management system)  is proposed to be community platform to represent educational informtion including location. This will help evaluate and project access, quantity and quality of education from pre-primary to professional education.
            Community organisations should be able to take up this exercise for monitoring their own area of interest, granularly.
            As of now there appears to be no reliable map enabled resource for visualising location of educational institions even though location (as in distance from residence) is crucial factor in laws relating to Right To Education ( RTE).This platform should also help analysing adequacy of amenities when combined with demography and other census data which are  also in maps. Assesement of achievements of learning objectives could also figure in,  in this platform.
            It is proposed that educational NGOs own up this page and use the same to assert the rights of the underprivileged as also to improve collaborations among institutions across the levels.
        </div>
        <div class="text-center" style="padding-top: 5px">
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo3">View information</button>

        <a href="{% url 'edu'%}" class="btn btn-success">Visit</a>
        </div>
        </div>
        </div>

        {% endif %}
        {% endfor %}
  
    {% for group in user.groups.all %}
    {% if group.name == 'iit' or group.name == 'restricted'  %}
    


    <div class = "container" id="mydiv" style="float:left;">


        <img src="{% static 'images/home_thumbnail/iit.png' %}" width="350" height="263" alt="census">
        <div style="padding: 10px">
        <h2 class="text-center">IIT Maps</h2>

        <div id="demo4" class="collapse">
            In order to design network of air quality monitoring devices , a layout map of buildings, roads and some utilities is created.
        </div>
        <div class="text-center" style="padding-top: 5px">
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo4">View information</button>

        <a href="{% url 'iit'%}" class="btn btn-success">Visit</a>
        </div>
        </div>
        </div>
        {% endif %}
        {% endfor %}


    {% for group in user.groups.all %}
    {% if group.name == 'transport' or group.name == 'restricted'  %}
    


    <div class = "container" id="mydiv" style="float:left;">


        <img src="{% static 'images/home_thumbnail/trans.png' %}" width="350" height="263" alt="transport">
        <div style="padding: 10px">
        <h2 class="text-center">Transportation Maps</h2>

        <div id="demo7" class="collapse">
            Bus transportation is a carrier of development and an indicator of human development. The following shapefiles combine census data, bus depot operational data and GIS data of Shahapur taluka. The data tries to show routes that are profitable / lossy , number of bus services passing through any point of importance in taluka etc. This data not only helps in decision support but also holistic access of transportation to the community, thereby fostering development.
<br><b>Data sets used</b>: <br>
<u>MRSAC</u>:<i>road network of Thane district<br></i>
<u>MSRTC</u>:<i>Operational data of Shahapur Taluka, Jan-Mar 2019</i>
        </div>
        <div class="text-center" style="padding-top: 5px">
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo7">View information</button>

        <a href="{% url 'transport'%}" class="btn btn-success">Visit</a>
        </div>
        </div>
        </div>
        {% endif %}
        {% endfor %}


    {% for group in user.groups.all %}
    {% if group.name == 'health' or group.name == 'restricted'  %}
    <div class = "container" id="mydiv" style="float:left;">


        <img src="{% static 'images/home_thumbnail/health.png' %}" width="350" height="263" alt="census">
        <div style="padding: 10px">
        <h2 class="text-center">Healthcare Maps</h2>

        <div id="demo5" class="collapse">
            Health interface for malegaon and bhiwandi.
        </div>
        <div class="text-center" style="padding-top: 5px">
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo5">View information</button>

        <a href="{% url 'health'%}" class="btn btn-success">Visit</a>
        </div>
        </div>
        </div>
        {% endif %}
        {% endfor %}


       {% for group in user.groups.all %}
       {% if group.name == 'water' or group.name == 'restricted'  %}
     

    <div class = "container" id="mydiv" style="float:left;">


        <img src="{% static 'images/home_thumbnail/ruralwater.png' %}" width="350" height="263" alt="water">
        <div style="padding: 10px">
        <h2 class="text-center">Rural water Maps</h2>

        <div id="demo6" class="collapse">
          Rural Water Maps.
        </div>
        <div class="text-center" style="padding-top: 5px">
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo6">View information</button>

        <a href="{% url 'water'%}" class="btn btn-success">Visit</a>
        </div>
        </div>
        </div>
        {% endif %}
        {% endfor %}

    <div class = "container" id="mydiv" style="float: left;">


        <img src="{% static 'images/home_thumbnail/others.png' %}" width="350" height="263" alt="census">
        <div style="padding: 10px">
        <h2 class="text-center">Other Maps</h2>

        <div id="other1" class="collapse">
            Other Maps.
        </div>
        <div class="text-center" style="padding-top: 5px">
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#other1">View information</button>

        <a href="" class="btn btn-success">Visit</a>
        </div>
        </div>
        </div>
   
    </div>
   





{% endif %}
{% endblock %}