{% extends 'map/base.html' %}
{% load static%}
{% block content %}
{% if user.is_authenticated %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<style>
    
.select {
    background:rgb(255,255,255);
}
.select.highlight {
    background:rgb(26, 255, 0);
}


.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;

}

.active, .collapsible:hover {
  background-color: #000;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
  transition: height 200ms;
}


</style>

<div id="side-bar" style="background-color: rgba(0, 0, 0, 0.2);">                <!-- Main container -->

  <h2>SWM</h2>
  <hr>
 
<ul class="list-group">
    <button class="collapsible">Mumbai</button>
        <div class="content">
                <button class="collapsible">Mumbai Census Boundary</button>
                <div class="content">
                    <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:h_mumbai_suburban')";>Suburban</button></li>
                    <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:h_mumbai_city')";>City</button></li>
                </div>
                <button class="collapsible" onclick="putLayer('geonode:constituency_ward_boundary')">Corporator Ward Boundary</button>
                <div class="content">
                        <!--li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:constituency_ward_boundary')";>Update in Progress....</button></li-->
                </div>
                <button class="collapsible" onclick="putLayer('geonode:mmrda')">MMRDA Boundary</button>
                <div class="content">
                        <!--li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:constituency_ward_boundary')";>Update in Progress....</button></li-->
                </div>
                <button class="collapsible" onclick="putLayer('geonode:mumbai_road_network')">Mumbai OSM Roads</button>
                <div class="content">
                        <!--li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:constituency_ward_boundary')";>Update in Progress....</button></li-->
                </div>

                <button class="collapsible"  onclick="putLayer('geonode:mumbai_ward_boundary_20may19')" >Mumbai Ward Boundary</button>
                <div class="content">
                        <!--li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:')";>Update in Progress....</button></li-->
                </div>
    <!--L-ward start here-->
            <button class="collapsible">L-ward</button>
                <div class = "content">
                        

                        <button class="collapsible">Residence</button>
                        <div class="content">
                        <button class="collapsible">Surveyed buildings/Complexes/Colonies</button>
                            <div class="content">
                                <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:')";>Update in Progress....</button></li>
                            </div>
                            <button class="collapsible">OSM buildings</button>
                            <div class="content">
                                <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:osm_building_l_ward')";>L-Ward</button></li>
                            </div>
                            <button class="collapsible">Chawls</button>
                            <div class="content">
                                <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:')";>Update in Progress....</button></li>
                            </div>
                            <button class="collapsible">Slums</button>
                            <div class="content">
                                <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:')";>Update in Progress....</button></li>
                            </div>
                            <button class="collapsible">Sourced from Voterlist</button>
                            <div class="content">
                                <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:')";>Update in Progress....</button></li>
                            </div>
                             
                    </div>
                    <button class="collapsible">Commercial</button>
                        <div class="content">
                        <button class="collapsible">Markets</button>
                            <div class="content">
                            <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:')";>Update in Progress....</button></li>
                        </div>
                        <button class="collapsible">Hotels</button>
                            <div class="content">
                            <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:')";>Update in Progress....</button></li>
                        </div>
                        <button class="collapsible">Malls</button>
                            <div class="content">
                            <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:')";>Update in Progress....</button></li>
                        </div>
                        <button class="collapsible">Shopping Complexes</button>
                            <div class="content">
                            <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:')";>Update in Progress....</button></li>
                        </div>
                        <button class="collapsible">Others</button>
                            <div class="content">
                            <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:')";>Update in Progress....</button></li>
                        </div>
                    </div>
                    <button class="collapsible">Religious</button>
                        <div class="content">
                        <button class="collapsible">Churches</button>
                        <div class="content">
                            <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:')";>Update in Progress....</button></li>
                        </div>
                        <button class="collapsible">Gurudwaras</button>
                        <div class="content">
                            <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:')";>Update in Progress....</button></li>
                        </div>
                        <button class="collapsible">Temples</button>
                        <div class="content">
                            <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:')";>Update in Progress....</button></li>
                        </div>
                        <button class="collapsible">Masjids</button>
                        <div class="content">
                            <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:')";>Update in Progress....</button></li>
                        </div>
                    </div>
                    <button class="collapsible">Roads</button>
                        <div class="content">
                        <button class="collapsible">OSM Roads</button>
                        <div class="content">
                            <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:mumbai_road_network')";>Mumbai OSM Roads</button></li>
                        </div>
                        <button class="collapsible">National Higways</button>
                        <div class="content">
                            <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:')";>Update in Progress....</button></li>
                        </div>
                        <button class="collapsible">State High Ways</button>
                        <div class="content">
                            <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:')";>Update in Progress....</button></li>
                        </div>
                        <button class="collapsible">BMC Roads</button>
                        <div class="content">
                            <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:')";>Update in Progress....</button></li>
                        </div>
                        <button class="collapsible">Lanes</button>
                        <div class="content">
                            <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:')";>Update in Progress....</button></li>
                        </div>
                    </div>
                    
                    <button class="collapsible">DP Polygons</button>
                        <div class="content">
                                <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:l_ward_15may')";>DP Polygons</button></li>
                            </div> 
                    <button class="collapsible">Bin Collection Centres</button>
                        <div class="content">
                        <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:')";>Update in Progress....</button></li>
                    </div>
                    <button class="collapsible">Dry waste MRF</button>
                        <div class="content">
                        <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:')";>Update in Progress....</button></li>
                    </div>
                    <button class="collapsible">Others</button>
                        <div class="content">
                <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:l_ward_village_boundary_20may19')";>Village Boundary</button></li>
                <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:planning_sector_l_ward')";>Planning Sector</button></li>
                <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:l_ward_rivers_poly')";>River</button></li>
                <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:railway_tracks_l_ward')";>Railway Track-Station</button></li>
                <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:metro_line_1_l_ward')";>Metro Rail Line-1</button></li>
                <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:metro_line_2_3_l_ward')";>Metro Rail Line-2,3</button></li>
                <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:high_voltage_lines_l_ward')";>High Voltage Line</button></li>
                <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:buffer_for_railway_l_ward')";>Buffer For Railway</button></li>
                <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:buffer_for_high_voltage_lines_l_ward')";>Buffer For High Voltage Line</button></li>
                <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:high_voltage_lines_l_ward')";>High Tide Line</button></li>
                <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:crz_buffer')";>CRZ Buffer</button></li>
                <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:')";>Update in Progress....</button></li>
                        </div>
                
                </div>
    <!--S-ward start here-->
    <button class="collapsible">S-ward</button>
        <div class="content">
                <button class="collapsible">Residence</button>
                <div class="content">
                <button class="collapsible">Surveyed buildings/Complexes/Colonies</button>
                    <div class="content">
                        <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:')";>Update in Progress....</button></li>
                    </div>
                    <button class="collapsible">OSM buildings</button>
                    <div class="content">
                        <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:s_ward_osm_buildings')";>S-Ward</button></li>
                    </div>
                    <button class="collapsible">Chawls</button>
                    <div class="content">
                        <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:')";>Update in Progress....</button></li>
                    </div>
                    <button class="collapsible">Slums</button>
                    <div class="content">
                        <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:s_ward_slum_baundry_3july_kajal')";>S-Ward</button></li>
                        <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:')";>Update in Progress....</button></li>
                    </div>
                    <button class="collapsible">Sourced from Voterlist</button>
                    <div class="content">
                        <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:')";>Update in Progress....</button></li>
                    </div>
                     
            </div>
            <button class="collapsible">Commercial</button>
                <div class="content">
                <button class="collapsible">Markets</button>
                    <div class="content">
                    <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:')";>Update in Progress....</button></li>
                </div>
                <button class="collapsible">Hotels</button>
                    <div class="content">
                    <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:')";>Update in Progress....</button></li>
                </div>
                <button class="collapsible">Malls</button>
                    <div class="content">
                    <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:')";>Update in Progress....</button></li>
                </div>
                <button class="collapsible">Shopping Complexes</button>
                    <div class="content">
                    <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:')";>Update in Progress....</button></li>
                </div>
                <button class="collapsible">Others</button>
                    <div class="content">
                    <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:')";>Update in Progress....</button></li>
                </div>
            </div>
            <button class="collapsible">Religious</button>
                <div class="content">
                <button class="collapsible">Churches</button>
                <div class="content">
                    <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:')";>Update in Progress....</button></li>
                </div>
                <button class="collapsible">Gurudwaras</button>
                <div class="content">
                    <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:')";>Update in Progress....</button></li>
                </div>
                <button class="collapsible">Temples</button>
                <div class="content">
                    <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:')";>Update in Progress....</button></li>
                </div>
                <button class="collapsible">Masjids</button>
                <div class="content">
                    <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:')";>Update in Progress....</button></li>
                </div>
            </div>
            <button class="collapsible">Roads</button>
                <div class="content">
                <button class="collapsible">OSM Roads</button>
                <div class="content">
                         <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:mumbai_road_network')";>Mumbai OSM Roads</button></li>
                </di     v>
                <but     ton class="collapsible">National Higways</button>
                <div      class="content">
                         <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:')";>Update in Progress....</button></li>
                </di     v>
                <button class="collapsible">State High Ways</button>
                <div class="content">
                    <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:')";>Update in Progress....</button></li>
                </div>
                <button class="collapsible">BMC Roads</button>
                <div class="content">
                    <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:')";>Update in Progress....</button></li>
                </div>
                <button class="collapsible">Lanes</button>
                <div class="content">
                    <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:')";>Update in Progress....</button></li>
                </div>
            </div>
        </div>
            </div>
            
            <button class="collapsible">DP Polygons</button>
                <div class="content">
                <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:s_ward_all_polygone_1')";>DP Polygons</button></li>
            </div>
            <button class="collapsible">Bin Collection Centres</button>
                <div class="content">
                <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:')";>Update in Progress....</button></li>
            </div>
            <button class="collapsible">Dry waste MRF</button>
                <div class="content">
                <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:')";>Update in Progress....</button></li>
            </div>
            <button class="collapsible">Others</button>
                <div class="content">
            <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:s_ward_village_boundary_15jan_dhiraj')";>Village Boundary</button></li>
            <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:s_wrad_planningsector_15jan_dhiraj')";>Planning Sector</button></li>
            <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:s_ward__river_kajal')";>River</button></li>
            <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:s_ward_railwaytrack_station_15jan_dhiraj')";>Railway Track-Station</button></li>
            <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:s_ward_pond_18th_jan_digvijay')";>Ponds</button></li>
            <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:s_ward_metrorailline1_station_15jan_dhiraj')";>Metro Rail Line-Station</button></li>
            <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:s_ward_high_voltage_line_16jan_kajal')";>High Voltage Line</button></li>
            <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:s_ward_flyover_bridge__17jan_kajal')";>Flyover Bridge</button></li>
            <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:s_ward_bufferforrailway_15jan_dhiraj')";>Buffer For Railway</button></li>
            <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:s_ward_buffer_for_high_voltage_line_17jan_kajal')";>Buffer For High Voltage Line</button></li>
            </div>
        </div>
    
        
    <!--HWest-ward start here-->
    <button class="collapsible">HWest-ward</button>
        <div class="content">
            <button class="collapsible">Residence</button>
                        <div class="content">
                        <button class="collapsible">Surveyed buildings/Complexes/Colonies</button>
                            <div class="content">
                                <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:hw_building_seggregation_wise')";>Seggregation Wise</button></li>
                                <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:')";>Composting Wise</button></li>
                                <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:')";>Weight Wise</button></li>


                            </div>
                            <button class="collapsible">OSM buildings</button>
                            <div class="content">
                                <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:')";>Update in Progress....</button></li>
                            </div>
                            <button class="collapsible">Chawls</button>
                            <div class="content">
                                <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:')";>Update in Progress....</button></li>
                            </div>
                            <button class="collapsible">Slums</button>
                            <div class="content">
                                <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:')";>Update in Progress....</button></li>
                            </div>
                            <button class="collapsible">Sourced from Voterlist</button>
                            <div class="content">
                                <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:')";>Update in Progress....</button></li>
                            </div>
                             
                    </div>
                    <button class="collapsible">Commercial</button>
                        <div class="content">
                        <button class="collapsible">Markets</button>
                            <div class="content">
                            <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:')";>Update in Progress....</button></li>
                        </div>
                        <button class="collapsible">Hotels</button>
                            <div class="content">
                            <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:')";>Update in Progress....</button></li>
                        </div>
                        <button class="collapsible">Malls</button>
                            <div class="content">
                            <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:')";>Update in Progress....</button></li>
                        </div>
                        <button class="collapsible">Shopping Complexes</button>
                            <div class="content">
                            <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:')";>Update in Progress....</button></li>
                        </div>
                        <button class="collapsible">Others</button>
                            <div class="content">
                            <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:')";>Update in Progress....</button></li>
                        </div>
                    </div>
                    <button class="collapsible">Religious</button>
                        <div class="content">
                        <button class="collapsible">Churches</button>
                        <div class="content">
                            <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:')";>Update in Progress....</button></li>
                        </div>
                        <button class="collapsible">Gurudwaras</button>
                        <div class="content">
                            <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:')";>Update in Progress....</button></li>
                        </div>
                        <button class="collapsible">Temples</button>
                        <div class="content">
                            <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:')";>Update in Progress....</button></li>
                        </div>
                        <button class="collapsible">Masjids</button>
                        <div class="content">
                            <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:')";>Update in Progress....</button></li>
                        </div>
                    </div>
                    <button class="collapsible">Roads</button>
                        <div class="content">
                        <button class="collapsible">OSM Roads</button>
                        <div class="content">
                            <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:mumbai_road_network')";>Mumbai OSM Roads</button></li>
                        </div>
                        <button class="collapsible">National Higways</button>
                        <div class="content">
                            <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:')";>Update in Progress....</button></li>
                        </div>
                        <button class="collapsible">State High Ways</button>
                        <div class="content">
                            <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:')";>Update in Progress....</button></li>
                        </div>
                        <button class="collapsible">BMC Roads</button>
                        <div class="content">
                            <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:')";>Update in Progress....</button></li>
                        </div>
                        <button class="collapsible">Lanes</button>
                        <div class="content">
                            <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:')";>Update in Progress....</button></li>
                        </div>
                    </div>
                    
                    <button class="collapsible">DP Polygons</button>
                        <div class="content">
                            <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:hw_ward_workinprogress')";>DP Polygons In Progress....</button></li>
                        </div>
                    <button class="collapsible">Bin Collection Centres</button>
                        <div class="content">
                        <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:')";>Update in Progress....</button></li>
                    </div>
                    <button class="collapsible">Dry waste MRF</button>
                        <div class="content">
                        <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:')";>Update in Progress....</button></li>
                    </div>
                    <button class="collapsible">Others</button>
                        <div class="content">
                            <button class="collapsible">Railway Lines</button>
                            <div class="content">
                            <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:')";>Update in Progress....</button></li>
                        </div>
                        <button class="collapsible">Metro Lines</button>
                            <div class="content">
                            <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:')";>Update in Progress....</button></li>
                        </div>
                        <button class="collapsible">etc</button>
                            <div class="content">
                            <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:')";>Update in Progress....</button></li>
                        </div>
                    </div>
        </div>


    <!--MWest-ward start here-->        
    <button class="collapsible">MWest-ward</button>
        <div class="content">
            <button class="collapsible">Residence</button>
                        <div class="content">
                        <button class="collapsible">Surveyed buildings/Complexes/Colonies</button>
                            <div class="content">
                                <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:')";>Update in Progress....</button></li>
                            </div>
                            <button class="collapsible">OSM buildings</button>
                            <div class="content">
                                <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:')";>Update in Progress....</button></li>
                            </div>
                            <button class="collapsible">Chawls</button>
                            <div class="content">
                                <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:')";>Update in Progress....</button></li>
                            </div>
                            <button class="collapsible">Slums</button>
                            <div class="content">
                                <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:')";>Update in Progress....</button></li>
                            </div>
                            <button class="collapsible">Sourced from Voterlist</button>
                            <div class="content">
                                <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:')";>Update in Progress....</button></li>
                            </div>
                             
                    </div>
                    <button class="collapsible">Commercial</button>
                        <div class="content">
                        <button class="collapsible">Markets</button>
                            <div class="content">
                            <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:')";>Update in Progress....</button></li>
                        </div>
                        <button class="collapsible">Hotels</button>
                            <div class="content">
                            <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:')";>Update in Progress....</button></li>
                        </div>
                        <button class="collapsible">Malls</button>
                            <div class="content">
                            <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:')";>Update in Progress....</button></li>
                        </div>
                        <button class="collapsible">Shopping Complexes</button>
                            <div class="content">
                            <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:')";>Update in Progress....</button></li>
                        </div>
                        <button class="collapsible">Others</button>
                            <div class="content">
                            <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:')";>Update in Progress....</button></li>
                        </div>
                    </div>
                    <button class="collapsible">Religious</button>
                        <div class="content">
                        <button class="collapsible">Churches</button>
                        <div class="content">
                            <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:')";>Update in Progress....</button></li>
                        </div>
                        <button class="collapsible">Gurudwaras</button>
                        <div class="content">
                            <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:')";>Update in Progress....</button></li>
                        </div>
                        <button class="collapsible">Temples</button>
                        <div class="content">
                            <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:')";>Update in Progress....</button></li>
                        </div>
                        <button class="collapsible">Masjids</button>
                        <div class="content">
                            <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:')";>Update in Progress....</button></li>
                        </div>
                    </div>
                    <button class="collapsible">Roads</button>
                        <div class="content">
                        <button class="collapsible">OSM Roads</button>
                        <div class="content">
                            <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:mumbai_road_network')";>Mumbai OSM Roads</button></li>
                        </div>
                        <button class="collapsible">National Higways</button>
                        <div class="content">
                            <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:')";>Update in Progress....</button></li>
                        </div>
                        <button class="collapsible">State High Ways</button>
                        <div class="content">
                            <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:')";>Update in Progress....</button></li>
                        </div>
                        <button class="collapsible">BMC Roads</button>
                        <div class="content">
                            <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:')";>Update in Progress....</button></li>
                        </div>
                        <button class="collapsible">Lanes</button>
                        <div class="content">
                            <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:')";>Update in Progress....</button></li>
                        </div>
                    </div>
                    
                    <button class="collapsible">DP Polygons</button>
                        <div class="content">
                                <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:ward_polygon_mw')";>DP Polygons</button></li>
                            </div>
                    <button class="collapsible">Bin Collection Centres</button>
                        <div class="content">
                        <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:')";>Update in Progress....</button></li>
                    </div>
                    <button class="collapsible">Dry waste MRF</button>
                        <div class="content">
                        <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:')";>Update in Progress....</button></li>
                    </div>
                    <button class="collapsible">Others</button>
                        <div class="content">
                            <button class="collapsible">Railway Lines</button>
                            <div class="content">
                            <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:')";>Update in Progress....</button></li>
                        </div>
                        <button class="collapsible">Metro Lines</button>
                            <div class="content">
                            <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:')";>Update in Progress....</button></li>
                        </div>
                        <button class="collapsible">etc</button>
                            <div class="content">
                            <li class="list-group-item list-group-item-info"><button class="btn select" onclick="putLayer('geonode:')";>Update in Progress....</button></li>
                        </div>
                    </div>
        </div>

    </div>
        
</ul> 
    </div>


    <script>
     var myLayerList = [];
    function putLayer(geonode_source){
        mymap.setView([19.1056518,72.7815566], 11.75);
        var index = myLayerList.indexOf(geonode_source);
        if(index >= 0){
            console.log('remove'+geonode_source)
            source.getLayer(geonode_source).addTo(mymap).remove(mymap);
            myLayerList.splice(index,1);

        }else{
            console.log('add'+geonode_source);
            // info.toFront(geonode_);
            source.getLayer(geonode_source).addTo(mymap);
            myLayerList.push(geonode_source);
        }
    }

    $('.select').click(function () {
        $(this).toggleClass('highlight')
    })


var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
    </script>

<div id="mapdiv" class="col-md-12"></div>
<script>
var mymap;
            
            var source = L.wms.source(
                "http://13.82.229.27/geoserver/wfs",
                {
                    "format": "image/png",
                    "transparent": "true"
                }        
                );
            
        
                mymap = L.map('mapdiv', {center:[19.1056518,72.7815566], zoom:11.75, zoomControl:false, attributionControl:false});
                lyrOSM = L.tileLayer.provider('OpenStreetMap.Mapnik');
                lyrImagery = L.tileLayer.provider('Esri.WorldImagery');
                mymap.addLayer(lyrOSM);
                
                
                objBasemaps = {
                    "Open Street Maps": lyrOSM,
                    "Imagery":lyrImagery
                };
                
                objOverlays = {
                };
                
                var ctlLayers = L.control.layers(objBasemaps, objOverlays).addTo(mymap);
                

               
                var ctlPan = L.control.pan().addTo(mymap);
                var ctlZoomslider = L.control.zoomslider({position:'topright'}).addTo(mymap);
                
                var ctlSidebar = L.control.sidebar('side-bar').addTo(mymap);
                var ctlSidebar = L.control.sidebar('side-bar').addTo(mymap);
                 var ctlEasybutton = L.easyButton('glyphicon-transfer', function(){
                   ctlSidebar.toggle(); 
                }).addTo(mymap);          
</script>
{% endif %}

{% endblock %}